.menu-button {
    -fx-background-color: linear-gradient(to right, #667eea, #764ba2);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 15;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to right, #43e97b, #38f9d7);
}

.menu-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.active-menu {
    -fx-background-color: linear-gradient(to right, #667eea, #764ba2);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 4);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 15;
    -fx-padding: 10 20;
}
.active-menu:hover {
    -fx-background-color: linear-gradient(to right, #43e97b, #38f9d7);
}